@model Cams.Web.MVCRazor.Models.Masters.CommodityModel
@using Cams.Web.MVCRazor;

@{
    ViewBag.Title = "AddCommodity";
    Layout = "~/Views/Shared/SuperAdminMaster.cshtml";
}

@section Scripts{
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/content/css/style.css") />
    
    <script type="text/javascript">
        $(document).ready(function () {
            HighlightSuperAdminMainMenu('#mnuMasters');
        });
    </script>

}

@section MainBody {
<div class="page-data fl">
        <div class="panes">
        @using (Html.BeginForm("EditCommodity", "Masters", FormMethod.Post))
        {
          <div class="panes-data">
            <h1>@ClientResources.ViewCommodityH1</h1>
            @if (ViewData["Error"] != null)
            {
                <div class="response-msg error-msg">
                    <span>@ViewData["Error"].ToString()</span>
                    <br />
                    <span>@Html.ValidationSummary(true)</span>
                </div>
            }
            <div style="background:#fffcfc;color:#FF0000">@Html.ValidationSummary(false)</div>
            @if (TempData["Success"] != null)
            {
                <div class="response-msg success-msg">
                    <span>@TempData["Success"].ToString()</span>
                </div>
            }
            
            <div class="Form-Wrap">
                <ul class="reset leftfield addcommodityclass fl" style="width:60%">
                  <li>
                    <label id="lblCommodityClass" class="width110">@ClientResources.AddCommoditylblCommodityClass</label>
                    @Html.TextBoxFor(model => model.CommoditiesInCommodityClass.Name, new { name = "txtCommodityClass", type = "text", id = "txtCommodityClass", value = "", maxlength = "30", @readonly = "readonly", @class = "autoinputvalue", style = "width:250;" })
                  </li>
                  <li>
                    <div class="fl">
                      <label id="lblCommodity" class="width110">@ClientResources.AddCommoditylblCommodity</label>
                      @Html.TextBoxFor(model => model.Name, new { name = "txtCommodity", type = "text", id = "txtCommodity", value = "", maxlength = "30", @readonly = "readonly", @class = "autoinputvalue", style = "width:250;" })
                    </div>
                    <div class="clr"></div>
                  </li>
                  <li>
                    <div class="fl">
                      <label id="lblBotinicalName" class="width110">@ClientResources.AddCommoditylblBotinicalName</label>
                      @Html.TextBoxFor(model => model.BotanicalName, new { name = "txtBotinicalName", type = "text", id = "txtBotinicalName", value = "", maxlength = "30", @readonly = "readonly", @class = "autoinputvalue", style = "width:250;" })
                    </div>
                    <div class="clr"></div>
                  </li>
                  <li>
                    <label id="lblStatus" class="width110 label-radio-pad">@ClientResources.AddCommoditylblStatus</label>
                    @{
                            string Status = string.Empty;
                            if (Model.IsActive)
                            {
                                Status = "Active";
                            }
                            else
                            {
                                Status = "Inactive";
                            }
                        }
                    @Html.TextBoxFor(model => Status, new { @readonly = "readonly", @class = "autoinputvalue", style = "font-size:12px; width:70px;" })
                    <div class="clr"></div>
                  </li>
                </ul>
                <ul style="width:40%;" class="reset rightfield fr">
                    <li>
                    <div class="profile-img-link fl" style="width:0px;"> &nbsp;</div>
                    <div style="margin-top:10px;" class="profile-img fl"> 
                    <img id="previewImage" width="110" height="100" src="@Model.Image" alt="" />
                    
                    </div>
                  </li>
                </ul>
                <div class="clr"></div>
                <ul class="reset input-botton">
                   <li>
                      @Html.ActionLink(" ", "AddCommodityIndex", "Masters", new { mode = "edit", commodityid = Model.CommodityId.ToString() }, new { @class = "button_Edit", style = "margin-left:auto; margin-right:auto;" })
                      <div class="text-link">@ClientResources.AddCommodityCancelText&nbsp;@Html.ActionLink(ClientResources.AddCommodityCancelBtnText, "CommodityListIndex", "Masters")</div>
                  </li>
                </ul>
            </div>
          </div>
            
        }
        </div>
      </div>     
}

