@using Cams.Web.MVCRazor
@* Resource keys related to this page have extension SAM*@ 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ClientResources.CompanyName</title>
    <link rel="shortcut icon" type="image/x-icon" href=@Url.Content("~/content/images/favicon.ico") />
    <link href=@Url.Content("~/content/css/control/control.css") rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/content/css/control/tabs.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/content/css/control/ddmegamenu.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/content/css/control/ddsmoothmenu.css") />
    <link media="screen" rel="stylesheet" href=@Url.Content("~/content/css/colorbox/colorbox.css") />
    <script type="text/javascript" src=@Url.Content("~/scripts/jquery.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/js/control/ddsmoothmenu.js")></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/js/control/jquery.tools.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/js/control/config.js")></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/js/colorbox/jquery.colorbox.js")></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(".example5").colorbox();
        });

        function HighlightSuperAdminMainMenu(currentActiveMenu) {
            $('#mnuMasters').removeClass('menu-active');
            $('#mnuMasters').removeClass('selected');
            $('#mnuUserGroups').removeClass('menu-active');
            $('#mnuUserGroups').removeClass('selected');
            $('#mnuClientSub').removeClass('menu-active');
            $('#mnuClientSub').removeClass('selected');
            $('#mnuActivityLog').removeClass('menu-active');
            $('#mnuActivityLog').removeClass('selected');
            $(currentActiveMenu).addClass('menu-active selected');
        }

    </script>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
    <link href=@Url.Content("~/Content/Css/style.css") rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
    @RenderSection("Scripts", false)
</head>
<body>
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="header">
                <div class="logo fl">
                    <a title="AgriERP" href="">@ClientResources.AgriErp</a></div>
                <div class="login fr">
                    <div class="login-cornar-lt">
                        <div class="login-cornar-rt">
                            <div class="login-cornar-lb">
                                <div class="login-cornar-rb">
                                    <div class="innerpd">
                                        <div class="client-logo fl">
                                            <img src=@Url.Content("~/content/images/control/logo-ack.jpg") width="49" height="50" alt="" /></div>
                                        <div class="fl">
                                            <div class="title">
                                                ack' Technologies Pvt. Ltd.
                                            </div>
                                            <dl id="sample" class="dropdown">
                                                <dt><a href="#"><span>@ClientResources.LoggedInAs @Session["UserName"]</span></a></dt>
                                                <dd>
                                                    <ul>
                                                        <li>
                                                            <div class="column">
                                                                @Html.ActionLink(ClientResources.Profile, "UserRegistrationView", "Account", new { username = Session["UserName"], usertype = "AckUser", mode = "View" }, null)
                                                                @Html.ActionLink(ClientResources.ChangePassword, "ChangePasswordIndex", "Account", new { username = Session["UserName"], usertype = "AckUser" }, null)
                                                                @Html.ActionLink(ClientResources.Logout, "Logout", "Account", new { id = "Logout" }, null)
                                                            </div>
                                                            <div class="column" style="width: 25%; text-align: right; padding-right: 5px;">
                                                            @if (Session["UserProfileImage"] != null)
                                                            {
                                                                <img src=@Url.Content(string.Concat("~/Content/UploadedImages/", Session["UserProfileImage"])) width="42" height="45" alt="" />
                                                            }
                                                            else
                                                            {
                                                                <img src=@Url.Content("~/Content/UploadedImages/avatar_blank.jpg") width="42" height="45" alt="" /> 
                                                            }
                                                                </div>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="clr">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
                <div>
                    <div id="smoothmenu1" class="ddsmoothmenu">
                        <ul>
                            <li><a id="mnuMasters" href="#" class="menu-active">@ClientResources.SAMMasters</a>
                                <ul>
                                    <li>@Html.ActionLink(ClientResources.SAMCountry, "Country", "Masters")</li>
                                    <li>@Html.ActionLink(ClientResources.SAMState, "StateList", "Masters")</li>
                                    <li><a href="#">@ClientResources.SAMDistrict</a></li>
                                    <li>@Html.ActionLink(ClientResources.SAMCommodity, "CommodityListIndex", "Masters")</li>
                                    <li>@Html.ActionLink(ClientResources.SAMAPMC, "APMCListIndex", "Masters")</li>
                                    <li>@Html.ActionLink(ClientResources.MasterViewBankAndBranch, "BankBranchListIndex", "BankBranch")</li>
                                    @*<li>@Html.ActionLink("UserGroup Roles", "UserGroupRolesIndex", "Account", new { usertype = "AckUser" }, null)</li>*@
                                </ul>
                            </li>
                            <li><a id="mnuUserGroups" href="#" class="menu_usergroups">@ClientResources.SAMUserGroups</a>
                                <ul>
                                    <li><a href="#">@ClientResources.SAMackAccount</a>
                                        <ul>
                                            <li>@Html.ActionLink(ClientResources.SAMGroupRegistration, "UserGroupsIndex", "Account", new { usertype = "AckUser" }, null)</li>
                                            <li>@Html.ActionLink(ClientResources.SAMUserRegistration, "UsersIndex", "Account", new { usertype = "AckUser" }, null)</li>
                                        </ul>
                                    </li>
                                    <li><a href="#">@ClientResources.SAMClientAccount</a>
                                        <ul>
                                            <li>@Html.ActionLink(ClientResources.SAMGroupRegistration, "UserGroupsIndex", "Account", new { usertype = "CAUser" }, null)</li>
                                           <li>@Html.ActionLink(ClientResources.SAMUserRegistration, "UsersIndex", "Account", new { usertype = "CAUser" }, null)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a id="mnuClientSub" href="#" class="menu_clientregi">@ClientResources.SAMClientSubscription</a>
                                <ul>
                                    <li>@Html.ActionLink(ClientResources.SAMClients, "ClientsIndex", "ClientAccount")</li>
                                    <li><a href="#">@ClientResources.SAMSubscriptionRenewal</a></li>
                                </ul>
                            </li>
                            <li><a id="mnuActivityLog" href="#">Activity Log</a></li>
                        </ul>
                        <br style="clear: left" />
                    </div>
                    <div class="date-time fr">
                        @DateTime.Now.ToString(ClientResources.HeaderDateFormat)
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
            <div class="content ovfl-hidden">
                @if (IsSectionDefined("TabsPartial") || IsSectionDefined("PanelPartial"))
                {
                    <div class="left-col fl">
                        @RenderSection("TabsPartial", false)
                        @RenderSection("PanelPartial", false)
                    </div>
                }
                else
                {
                    <div class="left-col fl">
                        @Html.Partial("TabsPartial")
                        @Html.Partial("PanelPartial")
                    </div>
                }
                <div style="height: 600px">
                    @RenderBody()
                    @if (IsSectionDefined(("MainBody")))
                    {
                        @RenderSection("MainBody")
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer-inner">
            <div class="footer-left fl">
                &copy; @ClientResources.CopyRight</div>
            <div class="footer-right fl">
                <div id="quick-content-rel">
                    <div id="quick-content">
                        <div id="quick-panel">
                            <a href="#" id="quick-panel-tab"></a>
                            <div class="inner">
                                <ul class="panel-list reset">
                                    <li><a href="#" class="icon-help">@ClientResources.HelpForPage</a></li>
                                    <li><a href="#" class="icon-chat">@ClientResources.TechnicalSupport</a></li>
                                    <li><a href="#" class="icon-call">@ClientResources.Dialack</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>
</body>
</html>
