@using Cams.Web.MVCRazor
@* Resource keys related to this page have extension CHP*@
@model Cams.Web.MVCRazor.Models.Account.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    if (!Cams.Common.Helper.IsCAIdNotNull((Cams.Common.Dto.User.UserDto)Session[Cams.Common.Constants.SKCURRENTUSER]))
    {
        Layout = "~/Views/Shared/SuperAdminMaster.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ClientMaster.cshtml";
    }
}
@section Scripts
{
    @*To show the strength of password :strong,weak,medium*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#NewPassword').keyup(function (e) {
                var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
                var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
                var enoughRegex = new RegExp("(?=.{6,}).*", "g");

                if ($(this).val() != "") {
                    if (false == enoughRegex.test($(this).val())) {
                        $('#passstrength').html('More Characters required');
                    } else if (strongRegex.test($(this).val())) {
                        $('#passstrength').html('Strong!');
                    } else if (mediumRegex.test($(this).val())) {
                        $('#passstrength').html('Medium!');
                    }
                    else {
                        $('#passstrength').html('Weak!');
                    }
                }
                else {
                    $('#passstrength').html('');
                }
                return true;
            });
            HighlightSuperAdminMainMenu('#mnuUserGroups');

        });
    </script>
}
@section MainBody
{
<div class="page-data fl">
    @using (Html.BeginForm("ChangePassword", "Account", new { usertype = Request.QueryString["usertype"] }, FormMethod.Post, new { id = "ChangePasswordForm" }))
    {
        <div class="panes">
            <div class="panes-data">
             <h1>
                   @ClientResources.ChangePassword
                    </h1>
                @if (TempData["PasswordChanged"] != null)
                {
                    <div class="response-msg success-msg">
                        <span>@TempData["PasswordChanged"].ToString()</span>
                    </div>
                }
                <div style="background: #fffcfc; color: #FF0000">@Html.ValidationSummary(false)</div>
                <div class="Form-Wrap">
                    <label id="currentpasswordlabel" class="width145">
                        @ClientResources.CHPCurrentPassword</label>
                    @Html.PasswordFor(model => model.CurrentPassword)
                    <br />
                    <br />
                    <label id="newpasswordlabel" class="width145">
                        @ClientResources.CHPNewPassword</label>
                    @Html.PasswordFor(model => model.NewPassword)<span id="passstrength"></span>
                    <br />
                    <br />
                    <label id="confirmpasswordlabel" class="width145">
                        @ClientResources.CHPConfiremNewPassword</label>
                    @Html.PasswordFor(model => model.ConfirmNewPassword)
                </div>
            </div>
        </div>
        <div class="Form-Wrap">
            <ul class="reset input-botton">
                <li>
                    <input type="image" src=@Url.Content("~/content/images/control/save.jpg") name="passwordSaveButton"
                        onclick="" />
                    <div class="text-link">@ClientResources.PICancelText
                        @Html.ActionLink(ClientResources.PICancel, "Welcome", new { usertype = Request.QueryString["usertype"] })
                    </div>
                </li>
            </ul>
        </div>
        <fieldset style="width: 50">
            <legend><b>Guidelines :</b></legend>
            <ul>
                <li>@ClientResources.CHPPasswordLength</li>
                <li>@ClientResources.CHPPasswordContents</li>
                <li>@ClientResources.CHPPasswordSpace</li>
                <li>@ClientResources.CHPPasswordEXample</li>
            </ul>
        </fieldset>
    }
</div>
