@model Cams.Web.MVCRazor.Models.Account.UserRegistrationModel
@using Cams.Web.MVCRazor
@using Cams.Common.Dto
@using Cams.Common
@using Cams.Web.MVCRazor.Helpers
<h1>
    Personal Information</h1>
<div class="Form-Wrap">
    <div class="groupfieldset">
        <ul class="reset leftfield fl">
            <li>
                <label id="lblGender" class="width85 label-radio-pad">@ClientResources.PIlblGender</label>
                @Html.RadioButtonFor(model => model.UserProfile.Gender, ClientResources.PIrbtnGenderMale, new { @class = "radio-botton", id = "rbtnMaleGender", name = "rbtnPIGender", @readonly = "readonly", disabled = "disabled" })
                <label class="label-radio fl">@ClientResources.URMale</label>
                @Html.RadioButtonFor(model => model.UserProfile.Gender, ClientResources.PIrbtnGenderFemale, new { @class = "radio-botton", id = "rbtnFemaleGender", name = "rbtnPIGender", @readonly = "readonly", disabled = "disabled" })
                <label class="label-radio fl">@ClientResources.URFemale</label>
                <div class="clr">
                </div>
            </li>
            <li>
                <label id="lblPIBloodGroup" class="width110">@ClientResources.PIlblBloodGroup</label>
                @Html.TextBoxFor(model => model.UserProfile.BloodGroup, new { id = "txtBloodGroup", name = "txtBloodGroup", type = "text", val = "", @class = "autoinputvalue width75", @readonly = "readonly" })
            </li>
            <li>
                <label id="lblPAN" class="width110">@ClientResources.PIlblPAN</label>
                @Html.TextBoxFor(model => model.UserProfile.PAN, new { @class = "autoinputvalue width110", id = "txtPAN", maxlength = "12", @readonly = "readonly" })
            </li>
        </ul>
        <ul class="reset rightfield fr" style="width: 50%;">
            <li>
                <label id="lblPIMaritalStatus" class="width145 label-radio-pad">@ClientResources.PIlblMaritalStatus</label>
                @Html.RadioButtonFor(model => model.UserProfile.MaritalStatus, ClientResources.PIrbtnMaritalStatusSingle, new { @class = "radio-botton", id = "rbtnPIMaritalStatusSingle", name = "rbtnPIMaritalStatus", @readonly = "readonly", disabled = "disabled" })
                <label class="label-radio fl">@ClientResources.URSingle</label>
                @Html.RadioButtonFor(model => model.UserProfile.MaritalStatus, ClientResources.PIrbtnMaritalStatusMarried, new { @class = "radio-botton", id = "rbtnPIMaritalStatusMarried", name = "rbtnPIMaritalStatus", @readonly = "readonly", disabled = "disabled" })
                <label class="label-radio fl">@ClientResources.URMarried</label>
                <div class="clr">
                </div>
            </li>
            <li style="height: 24px;"></li>
            <li>
                <label id="lblUID" class="width145">@ClientResources.PIlblUID</label>
                @Html.TextBoxFor(model => model.UserProfile.UID, new { @class = "autoinputvalue", id = "txtUID", name = "txtUID", value = "", maxlength = "12", @readonly = "readonly" })
            </li>
        </ul>
    </div>
    <div class="groupfieldset groupfieldsetcol fl" style="min-height: 196px;">
        <ul class="reset onecolfield fl">
            <li>
                <label class="width110" id="lblPIAddress">@ClientResources.PIlblAddress</label>
                @Html.TextAreaFor(model => model.UserProfile.UserAddress.AddressLine1, new { cols = "", rows = "", name = "txtPIAddress", id = "txtPIAddress", @class = "textarea autoinputvalue width195", @readonly = "readonly" })
            </li>
            <li>
                <label id="lblPICountry" class="width110">@ClientResources.PIlblCountry</label>
                <span class="countryinput">India</span> </li>
            @* @Html.Partial("SelectStateDistrictPlace", Model.StateDistrictPlacesControlNames[0])*@
            <li>
                <label id="PIlblState" class="width110">@ClientResources.PIlblState</label>
                @Html.TextBoxFor(model => model.UserProfile.UserAddress.CityVillage.DistrictOfCityVillage.StateOfDistrict.RegionName, new { id = "txtStateName", name = "txtStateName", val = "", @class = "autoinputvalue", @readonly = "readonly" })
            </li>
            <li>
                <label id="PIlblDistrict" class="width110">@ClientResources.PIlblDistrict</label>
                @Html.TextBoxFor(model => model.UserProfile.UserAddress.CityVillage.DistrictOfCityVillage.DistrictName, new { id = "txtDistrictName", name = "txtDistrictName", val = "", @class = "autoinputvalue", @readonly = "readonly" })
            </li>
            <li>
                @{if (Model.UserProfile == null)
                  {
                    <label id="lblCityOrVillage" class="width110">@ClientResources.PIlblCityVillage</label>
                    @Html.TextBoxFor(model => model.UserProfile.UserAddress.CityVillage.Name, new { @class = "autoinputvalue", @readonly = "readonly" })
                  }
                  else if (Model.UserProfile!= null && Model.UserProfile.UserAddress == null)
                  {
                    <label id="lblCityOrVillage1" class="width110">@ClientResources.PIlblCityVillage</label>
                    @Html.TextBoxFor(model => model.UserProfile.UserAddress.CityVillage.Name, new { @class = "autoinputvalue", @readonly = "readonly" })
                  }
                  else if (Model.UserProfile.UserAddress != null && Model.UserProfile.UserAddress.CityVillage == null)
                  {
                    <label id="lblCityOrVillage2" class="width110">@ClientResources.PIlblCityVillage</label>
                    @Html.TextBoxFor(model => model.UserProfile.UserAddress.CityVillage.Name, new { @class = "autoinputvalue", @readonly = "readonly" })
                  }
                  else
                  {
                    <label id="lblCityOrVillage3" class="width110">@Model.UserProfile.UserAddress.CityVillage.CityOrVillage</label>
                    @Html.TextBoxFor(model => model.UserProfile.UserAddress.CityVillage.Name, new { @class = "autoinputvalue", @readonly = "readonly" })
                  }
                }
            </li>
            <li>
                <label id="lblPIPIPin" class="width110">@ClientResources.PIlblPin</label>
                @Html.TextBoxFor(model => model.UserProfile.UserAddress.PIN, new { name = "txtPIPin", type = "text", @class = "autoinputvalue width110", id = "txtPIPin", value = "", maxlength = "6", @readonly = "readonly" })
            </li>
        </ul>
        <div class="clr">
        </div>
    </div>
    <div class="groupfieldset groupfieldsetcol fr" style="min-height: 196px;">
        <ul class="reset onecolfield fl">
            <li>
                <input id="URPICurrentIndex" type="hidden" value="@Model.UserProfile.ContactNos.Count" />
                <table id="URPIContacts">
                    @{ if (Model.UserProfile.ContactNos == null)
                       {
                           Model.UserProfile.ContactNos = new List<ContactDetailsDto>();
                       }

                       if (Model.UserProfile.ContactNos.Count == 0)
                       {
                           Model.UserProfile.ContactNos.ToList().Add(new ContactDetailsDto
                           {
                               ContactNoType = ContactType.MobileNo,
                               CountryCallingCode = "+91",
                               STDCode = "020"
                           });
                       }


                       for (int i = 0; i < Model.UserProfile.ContactNos.Count; i++)
                       {

                           bool contactTypeMobile = Model.UserProfile.ContactNos[i].ContactNoType == ContactType.MobileNo ? true : false;
                           bool contactTypeOff = Model.UserProfile.ContactNos[i].ContactNoType == ContactType.OfficeNo ? true : false;
                           bool contactTypeRes = Model.UserProfile.ContactNos[i].ContactNoType == ContactType.ResidenceNo ? true : false;
                           bool contactTypefax = Model.UserProfile.ContactNos[i].ContactNoType == ContactType.Fax ? true : false;
                
                        <tr>
                            <td class="width90">
                                <label class="width80">
                                            @{if (Model.UserProfile.ContactNos[i].ContactNoType == ContactType.MobileNo)
                                              { @ClientResources.ContactNoTypeMobile; }
                                              else if (Model.UserProfile.ContactNos[i].ContactNoType == ContactType.OfficeNo)
                                              { @ClientResources.ContactNoTypeOfficeNo; }
                                              else if (Model.UserProfile.ContactNos[i].ContactNoType == ContactType.ResidenceNo)
                                              { @ClientResources.ContactNoTypeResNo; }
                                              else { @ClientResources.ContactNoTypeFaxNo; }} 
                                              </label>  
                               @* @Html.TextBoxFor(model => Model.UserProfile.ContactNos[i].ContactNoType, new { id = "txtContactNoType", name = "txtContactNoType", @class = "clsContactNoType autoinputvalue", @readonly = "readonly", style = "width:90px; border: medium none; padding: 1px; float:left" })*@
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.UserProfile.ContactNos[i].CountryCallingCode, new { value = "+91", @class = "textfiled autoinputvalue", style = "width:28px; text-align:center", disabled = "disabled", @readonly = "readonly" })
                            </td>
                            <td>
                                @if (contactTypeOff == true || contactTypeRes == true || contactTypefax == true)
                                {
                                    @Html.TextBoxFor(model => Model.UserProfile.ContactNos[i].STDCode, new { value = @Model.UserProfile.ContactNos[i].STDCode, @class = "autoinputvalue textfiled", style = "width:38px; text-align:center;", @readonly = "readonly" })
                                    @Html.TextBoxFor(model => Model.UserProfile.ContactNos[i].ContactNo, new { @class = "autoinputvalue width118", value = "", maxlength = "15", @readonly = "readonly" })

                                }
                                else
                                {
                                    @Html.TextBoxFor(model => Model.UserProfile.ContactNos[i].STDCode,
                     new { value = "020", @class = "textfiled autoinputvalue", style = "width:38px; display:none; text-align:center;", @readonly = "readonly" })
                                    @Html.TextBoxFor(model => Model.UserProfile.ContactNos[i].ContactNo, new { @class = "autoinputvalue width166", value = "", maxlength = "15", @readonly = "readonly" })
                                }
                            </td>
                        </tr>
                       }
                    }
                </table>
            </li>
            <li>
                <label id="lblEmail1" class="width83">
                    Email1</label>
                @Html.TextBoxFor(model => Model.UserProfile.Email1, new { @class = "autoinputvalue width203", @readonly = "readonly" })
            </li>
            @if (string.IsNullOrEmpty(Model.UserProfile.Email2))
            {
                <li id="URPliEmail2" style="display: none">
                    <label id="lblEmail2" class="width83" style="">
                        Email2</label>
                    @Html.TextBoxFor(model => Model.UserProfile.Email2, new { @class = "autoinputvalue width203", @readonly = "readonly" })
                </li>
            }
            else
            {
                <li id="URPliEmail2">
                    <label id="lblEmail2" class="width83" style="">
                        Email2</label>
                    @Html.TextBoxFor(model => Model.UserProfile.Email2, new { @class = "autoinputvalue width203", @readonly = "readonly" })
                </li>
            }
        </ul>
    </div>
    <div class="clr">
    </div>
</div>
